<h1>Post New Book</h1>

<form action="/book/newbook" method="POST">
  <label>Book Title</label>
  <input type="text" name="book[title]" /><br />
  <label>Image</label>
  <input type="text" name="book[image]" /><br />
  <label>Image Description</label>
  <input type="text" name="book[imageDesc]" /><br />
  <label>Link To Book</label>
  <input type="text" name="book[link]" /><br />
  <label>Review</label>
  <textarea name="book[review]"></textarea><br />
  <button>Post Book</button>
</form>
