<%- include('../partials/header-dashboard'); -%>
<h2>Posts</h2>
<div class="pull-right">
    <a class="btn btn-md bg-primary" href="/admin/dashboard/newpost">New Post</a>
</div>
<div class="table-responsive-sm">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S/N</th>
                <th>TITLE</th>
                <th>TAG</th>
                <th>CREATED AT</th>
                <th>UPDATED AT</th>
                <th>AUTHOR</th>
                <th>LIKED</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Anna</td>
                <td>Pitt</td>
                <td>35</td>
                <td>New York</td>
                <td>USA</td>
                <td>Female</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('../partials/footer-dashboard'); -%>